<div class="container">
  <h1 class="form-heading">トピック編集</h1>
  <%= form_with(model: @topic, local: true) do |form| %>
  <form>
    <div class="form-group">
      <% @topic.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% end %>
      <h5><%= form.label :title, "タイトル", class: "m-0" %></h5>
        <%= form.text_field :title, class: "form-control mb-3" %>
      <h5><%= form.label :content, "内容", class: "m-0" %></h5>
        <%= form.text_area :content, class: "form-control" %>
      <%= form.submit "更新", class: "btn btn-primary my-2" %>
    </div>
  </form>
  <% end %>
</div>
