<div class="main topics-index">
  <div class="container">
    <%= form_with(url: topics_search_result_path, local: true, method: :get) do |form| %>
      <%= form.text_field :title %>
      <%= form.submit "検索" %>
    <% end %>
    <%= page_entries_info @topics %>
    <% @topics.each do |topic| %>
      <div class="topics-index-item">
        <div class="topic-left">
          <%= link_to(topic.title, topic_path(topic.id)) %>
        </div>
        <div class="topic-right">
          <div class="topic-user-name">
            <%= link_to(topic.user.name, user_path(topic.user.id)) %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @topics %>
  </div>
</div>
