<div class="main topic-new">
  <div class="container">
    <h1 class="form-heading">トピック作成</h1>
    <%= form_with(model: @topic, local: true) do |form| %>
      <div class="form">
        <div class="form-body">
          <% @topic.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p><%= form.label :title, "タイトル" %></p>
            <%= form.text_field :title %>
          <p><%= form.label :content, "内容" %></p>
            <%= form.text_field :content %>
            <%= form.submit "トピック作成" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
