<div class="container">
  <h1 class="form-heading">トピック作成</h1>
  <%= form_with(model: @topic, local: true) do |form| %>
    <form>
      <% @topic.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <p><%= form.label :title, "タイトル" %></p>
        <%= form.text_field :title, class: "form-control" %>
      <p><%= form.label :content, "内容" %></p>
        <%= form.text_field :content, class: "form-control" %>
        <%= form.submit "トピック作成", class: "btn btn-primary" %>
    </form>
  <% end %>
</div>
