<div class="container">
  <div class="card mx-auto my-2">
    <div class="col-md-8">
      <div class="card-body">
      <h2 class="card-title"><%= @topic_user.title %></h2>
      <p class="card-text"><%= @topic_user.content %></p>
      <% if t_ensure_correct_user %>
        <%= link_to("編集", edit_topic_path(@topic_user.id)) %>
        <%= link_to("削除", topic_path(@topic_user.id), method: :delete, data:
        { confirm: "本当に#{@topic_user.title}を削除してよろしいですか？"}) %>
      <% end %>
      </div>
    </div>
  </div>
  <% @topic_user.comments.each do |comment| %>
  <div class="media">
    <img src="<%= "/profile_images/#{comment.user.profile_image}" %>" class="bd-placeholder-img" width="64" height="64">
    <div class="media-body">
      <h5 class="mt-0"><%= link_to(comment.user.name, user_path(comment.user_id)) %></h5>
      <%= comment.content %>
      <% if comment_user?(comment: comment) %>
        <%= link_to("編集", edit_comment_path(comment.id)) %>
        <%= link_to("削除", comment_path(comment.id), method: :delete, data:
        { confirm: "本当に#{comment.content}を削除してよろしいですか？"}) %>
      <% end %>
      <p class="card-text"><small class="text-muted"><%= simple_time(comment.created_at) %></small></p>
    </div>
  </div>
  <% end %>
  <div class="form_group my-2">
  <%= form_with(model: @comment, url: comments_path, local: true) do |form| %>
    <% @comment.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>
    <%= form.hidden_field :topic_id, value: @topic_user.id %>
    <%= form.text_area :content, class: "form-control", rows: "2", placeholder: "コメントを書く" %>
    <%= form.submit "投稿", class: "btn btn-primary my-2" %>
    <% end %>
  </div>
</div>
