<div class="main topics-show">
  <div class="container">
    <h1 class="form-heading"><%= @topic_user.title %></h1>
    <% if ensure_correct_user %>
      <%= link_to("編集", "/topics/#{@topic_user.id}/edit") %>
    <% end %>
    <% @topic_user.comments.each do |comment| %>
      <div class="topic-comments-item">
        <div class="comment-left">
          <img src="<%= "/profile_images/#{comment.user.profile_image}" %>">
        </div>
        <div class="comment-right">
          <div class="comment-user-name">
            <%= link_to(comment.user.name, "/users/#{comment.user_id}") %>
          </div>
          <div class="comment-content">
            <%= comment.content %>
          </div>
          <div class="comment-time">
            <%= comment.created_at %>
          </div>
          <% if comment_user %>
            <%= link_to("削除", "/comments/#{comment.id}/destroy", {method: "post"}) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="comment-new">
      <%= form_tag("/comments/#{@topic_user.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <div class="comment-area">
            <textarea name="content"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
