<div class="main topics-show">
  <div class="container"
  
    <h1 class="form-heading"><%= @topic.title %></h1>
    <% if @topic.user_id == @current_user.id %>
      <%= link_to("編集", "/topics/#{@topic.id}/edit") %>
    <% end %>

    <% @topic.comments.each do |comment| %>
      <div class="topic-posts-item">
        <div class="post-left">
          <img src="<%= "/profile_images/#{@user.profile_image}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(comment.user.name, "/users/#{comment.user_id}") %>
          </div>
          <div class="post-user-content">
            <%= link_to(comment.content, "/posts/#{comment.user_id}") %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="comment-new">
      <%= form_tag("/comments/#{@topic.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <div class="comment-area">
            <textarea name="content"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
