<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
          <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
            <p>ユーザー名</p>
            <input name="name" value="<%= @user.name %>">
            <p>画像</p>
            <input name="image" type="file">
            <p>メールアドレス</p>
            <input name="email" value="<%= @user.email %>">
            <textarea name="profile"><%= @user.profile %></textarea>
            <input type="submit" value="更新">
          <% end %>
          <%= link_to("アカウント削除", "/users/#{@user.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>
