<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with(model: @user, local: true) do |form| %>
          <p><%= form.label :name, "ユーザー名" %></p>
            <%= form.text_field :name %>
          <p><%= form.label :image, "画像" %></p>
            <%= form.file_field :image %>
          <p><%= form.label :email, "メールアドレス" %></p>
            <%= form.text_field :email %>
          <p><%= form.label :profile, "プロフィール" %></p>
            <%= form.text_field :profile %>
            <%= form.submit "更新"%>
        <% end %>
        <%= link_to("アカウント削除", user_path(@user.id), :method => :delete) %>
      </div>
    </div>
  </div>
</div>
