<div class="container">
  <h2 class="form-heading">ログイン</h2>
  <%= form_with(model: @user, local: true) do |form| %>
    <form>
      <% if @error_message %>
        <div class="alert alert-danger" role="alert">
          <%= @error_message %>
        </div>
      <% end %>
      <h5><%= form.label :email, "メールアドレス", class: "m-0" %></h5>
        <%= form.text_field :email, class: "form-control mb-3" %>
      <h5><%= form.label :password, "パスワード", class: "m-0" %></h5>
        <%= form.text_field :password, class: "form-control" %>
        <%= form.submit "ログイン", class: "btn btn-primary my-2" %>
    </form>
  <% end %>
</div>
