<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_with(model: @user, local: true) do |form| %>
          <p><%= form.label :email, "メールアドレス" %></p>
            <%= form.text_field :email %>
          <p><%= form.label :password, "パスワード" %></p>
            <%= form.password_field :password %>
            <%= form.submit "ログイン" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
