<div class="container">
  <h2 class="form-heading">新規ユーザー登録</h2>
  <%= form_with(model: @user, local: true) do |form| %>
    <form>
      <% @user.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% end %>
      <h5><%= form.label :name, "ユーザー名", class: "m-0" %></h5>
        <%= form.text_field :name, class: "form-control mb-3" %>
      <h5><%= form.label :email, "メールアドレス", class: "m-0" %></h5>
        <%= form.text_field :email, class: "form-control mb-3" %>
      <h5><%= form.label :password, "パスワード", class: "m-0" %></h5>
        <%= form.text_field :password, class: "form-control" %>
        <%= form.submit "新規登録", class: "btn btn-primary my-2" %>
    </form>
  <% end %>
</div>
