<header>
  <ul>
    <% if @current_user.admin?  %>
      <li>
        <%= link_to("管理者ページ", admin_path) %>
      </li>
    <% end %>
  </ul>
</header>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/profile_images/#{@user.profile_image}" %>">
      <h2><%= @user.name %></h2>
      <div class="profile"><%= @user.profile %></div>
      <% if u_ensure_correct_user %>
        <%= link_to("プロフィール編集", edit_user_path ) %>
      <% end %>
    </div>
    <% @user.comments.each do |comment| %>
      <div class="user-comments">
        <div class="user-comments-title">
          <%= link_to(comment.topic.title, topic_path(comment.topic_id)) %>
        </div>
        <p><%= comment.content %></p>
        <div class="comment-time">
          <%= comment.created_at %>
        </div>
      </div>
    <% end %>
  </div>
</div>
